* {
	margin: 0%;
	padding: 0%;
}

body {
	background-color:#000;
	background-image: url(../_img/background.jpg);
	background-size: 98%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#facebook {
	width:10%;
	margin-left:10%;
	margin-right:8%;
}

#gmail {
	width:8.5%;
	margin-right:8.5%;
}

#github {
	width:9%;
	margin-right:9%;
}

#lattes {
	width:7%;
	margin-right: 9%;
}

#cv {
	width:8%;
	border-radius:360px;
	background-color: #fff;
}

#apresentacao {
	margin-top:17%;
	padding:1%;
	width: 98%;
}

#contatos {
	border-radius: 15px;
	margin-top:11%;
	margin-left:20%;
	width: 60%;
	padding-top:1%;
	padding-bottom:1%;
}

#contatos, #apresentacao{
	background-color: #FF0000;
	background-color: rgba(255,255,255,.2);
}

#apresentacao h1, #apresentacao h3 {
	text-align: center;
}

#apresentacao h1 {
   background: -webkit-linear-gradient(#808000, #D2691E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#apresentacao h3 {
	color: #430000;
}

#apresentacao h1 {
	font-family: Lobster;
	font-size: 700%;
	font-weight: normal;
}

#apresentacao h3 {
	font-family: Play;
}

h1 {
	font-size: 450%;
	-webkit-transition-duration: 3.10s;
}

h1:hover {
	-webkit-transition-duration: 1.90s;
	-webkit-filter: drop-shadow(3px 3px 40px #430000);
}

h3 {
	font-weight: lighter;
	font-size: 180%;
}

.container{
	position: relative;
}

.logo {
	vertical-align: middle;
	-webkit-transition-duration: .90s;
}

.logo:hover {
	-webkit-transition-duration: .90s;
	-webkit-filter: grayscale(100%);
}

.logopb:hover {
	-webkit-transition-duration: 1s;
	-webkit-filter: invert(60%);	
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#contatos {
		width:100%;
		margin:0%;
		padding:0%;
	}

	.logo {
		margin:0%;
		padding:0%;
		display:block;
		width: 400%;
	}
}

@media all and (max-width: 601px) {
	#contatos {
		width:400%;
		margin:0%;
		padding:0%;
	}

	.logo {
		display:block;
		margin-bottom: 5%;
	}

	#contatos {
		width:100%;
		text-align: center;
		border-radius: 0px;
		padding-bottom: 3%;
	}

	#facebook, #gmail, #github, #lattes, #cv {
		width:40%;
		display:block;
		margin-left: 30%;
		margin-bottom:10%;
	}

	#facebook {
		width:50%;
		margin-left:25%;
		margin-bottom:10%;
	}
}

@media all and (max-width: 480px) {
	#apresentacao h1 {
		font-size: 400%;
		margin-top:0%;
	}

	#apresentacao h3 {
		display: none;
	}

	#contatos {
		width:100%;
		text-align: center;
		border-radius: 0px;
		padding-bottom: 3%;
	}

	#facebook, #gmail, #github, #lattes, #cv {
		width:40%;
		display:block;
		margin-left: 30%;
		margin-bottom:10%;
	}

	#facebook {
		width:50%;
		margin-left:25%;
		margin-bottom:10%;
	}
}
