$primary-font: 'OpenSansRegular';
$primary-font-smb: 'OpenSansSemibold';
$secondary-font: 'Lobster';
$default-fs: 16px;

$avatar-max-width: 180px;

$color-primary: black;
$color-primary-contrast: white;
$color-text: #555;
$color-bg-divisor: #eee;
$color-featured: #4b5f83;
$color-featured-satured: saturate($color-featured, 40%);