#about {
	padding-top: 132px;

	.button {
		width: 200px;
		margin: 5px;
	}

	@media (max-width: $responsive-3) {
		padding-top: 230px;
		align-items: center;
	}

	@media (max-width: $responsive-4) {
		padding-top: 200px;
		text-align: center;
	}
}
