$font-family-1: Lobster, cursive, sans-serif;
$font-family-2: OpenSans, sans-serif;
$font-family-3: OpenSansSemibold, sans-serif;

$responsive-1: 975px;
$responsive-2: 905px;
$responsive-3: 835px;
$responsive-4: 400px;

:root {
	--theme-color: #4C3F4B;
	--theme-color-darkened: #312930;
	--theme-font-color: #fff;
	--theme-base-color: #444;
}
