@font-face {
	font-family: 'OpenSansRegular';
	font-display: fallback;
    src: local('OpenSansRegular'), url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'OpenSansSemibold';
	font-display: fallback;
    src: local('OpenSansSemibold'), url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: 'Lobster';
	font-display: fallback;
    src: local('Lobster'), url(../fonts/Lobster-Regular.ttf);
}
