.portfolio {
    &-item {
        border-top: 1px solid lightgray;
        margin-top: 20px;
    }

    &-first-item {
        margin-top: 0;
        border-top: none;
    }

    &-title {
        color: $main-color;
        display: flex;
        font-family: OpenSansSemibold;
        font-weight: 500;
        align-items: center;
    }

    p {
        color: $text-color;
        font-family: OpenSansRegular;
        font-size: 14px;
    }

    .chip {
        color: #fff;
        background: $main-color;
        padding: 3px 8px;
        border-radius: 6px;
        font-size: 12px;
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }
    }

    .usedskills {
        @extend %display-flex-wrap;
        justify-content: flex-start;

        .skill:first-child {
            margin-left: 0;
        }
    }
}