#portfolio {
	.portfolio-item {
		margin-top: 12px;
		padding-bottom: 12px;
		border-bottom: 1px solid lightgray;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			border-bottom: none;
		}

		&-title {
			@extend %df-aic-jcsb;
			font-family: $font-family-3;
			font-size: 18px;
			color: var(--theme-color);
		}

		&-text {
			margin-top: 8px;
			color: var(--theme-base-color);
			font-size: 16px;

			p {
				font-size: 16px;
			}
		}

		@media (max-width: $responsive-3) {
			.portfolio-item-title {
				flex-direction: column;

				* {
					text-align: center;
				}
			}

			.chipset {
				margin-top: 8px;
			}
		}
	}

	.chip {
		font-size: 12px;
		background-color: var(--theme-color);
		padding: 6px 12px;
		border-radius: 6px;
		color: var(--theme-font-color);
		text-transform: uppercase;
		margin: 3px;
	}

	.chipset {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
