#techskills-section, #softskills-section {
	.skill-container {
		@extend %df-aic-jcsb-fww;
	}

	.skillset {
		@extend %df-aic-jcfs-fww;
		margin-right: 12px;
		margin-bottom: 12px;
		width: 100%;
		max-width: 370px;

		&-title {
			@extend %df-aic-jcsb;
			margin-bottom: 8px;
			width: 100%;
		}

		@media (max-width: $responsive-1) {
			max-width: 350px;
		}
		@media (max-width: $responsive-2) {
			max-width: 320px;
		}
		@media (max-width: $responsive-3) {
			max-width: 100%;
		}
	}

	.accent {
		.skillset-title {
			color: var(--theme-font-color);
		}
	}
}
