.skills {
    align-items: baseline;

    &[data-already-animated*="true"] {
        display: flex;
    }

    .skillset {
        @extend %display-flex-wrap;
        margin-top: 20px;
    }

    .skill {
        border-radius: 6px;
        padding: 4px 12px;
        margin: 4px;
        color: white;
        display: inline-block;
    }
}