#skills {
	.skill-container {
		@extend %df-aic-jcsb-fww;
	}

	.skillset {
		@extend %df-aic-jcfs-fww;
		margin-right: 12px;
		margin-bottom: 12px;
		width: 100%;
		max-width: 370px;

		&-title {
			@extend %df-aic-jcsb;
			margin-bottom: 8px;
			width: 100%;
		}
	}

	.accent {
		.skillset-title {
			color: var(--theme-font-color);
		}
	}
}
