$color-1: #333;
$color-2: #fefefe;
$color-3: #4C3F4B;
$color-4: #f5f5f5;

$color-github: #000;
$color-linkedin: #0077b5;
$color-whatsapp: #25d366;
$color-gmail: #ea4335;

$sides-desktop: 15vw;
$sides-mobile: 2vw;

$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Pacifico', cursive;

$font-size-1: 32px;
$font-size-2: 128px;
$font-size-3: 18px;
$font-size-4: 14px;

$text-shadow-1: 0 0 5px $color-1;
